<div class="row student-feedback">
  <h1 class="heading">Post-Interview Company Rankings</h1>

  <div id="student-feedback">
    <%= collection_select :student, :id, @students, :id, :name,
    { prompt: "Select your name"}, { class: "student-feedback--name" } %>

    <ul class="student-feedback--companies">
    </ul>

    <div class="student-feedback--email">
      <p>If you would like a confirmation of your rankings you can provide your email below.</p>
      <label for="email">Confirmation Email (optional):</label>
      <input id="email" name="email" type="email"></input>
    </div>

    <button class="button large student-feedback--submit">Submit Rankings</button>
  </div>
  <div class="columns"></div>

  <div class="student-feedback--note">
    <strong>Note</strong>: While we will take these preferences into consideration our top priority is making sure that the entire cohort is set up with the best opportunities for growth.
  </div>
</div>

<script type="text/javascript">
 $('.student-feedback--name').val(''); // Start form with no student selected

 // Create a StudentFeedbackView to handle this form
 const view = new StudentFeedbackView({
   el: ".student-feedback",
 });

 view.render();
</script>

<!-- Underscore templates are set to use #
     instead of %, to not conflict with ERB -->
<script type="text/template" id="student-feedback--company-template">
 <div class="student-feedback--rank">
  <p><#- rank #></p>
 </div>
 <div class="student-feedback--company">
  <p><#- name #></p>
 </div>
 <div class="student-feedback--rank-btns">
  <button class="student-feedback--rank-btn-up">▲</button>
  <button class="student-feedback--rank-btn-down">▼</button>
 </div>
</script>
