<section id="team-list">
  <h2>Team List</h2>
  <p>Select your team from below to add inteview feedback.</p>

  <ul>
    <% @companies.each do |company| %>
      <li><%= link_to company.name, company_path(company.id) %></li>
    <% end %>
  </ul>
</section>
