// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: Move these into application.scss or a public.scss?
.public {
  position: relative;

  .action {
    position: absolute;
    top: 2em;
    right: 1.5em;
  }

  h2 {
    font-family: Palatino;
    font-size: 3em;
    text-align: center;
    margin-right: 1.9em;
  }

  h3 {
    font-size: 1.5em;
    width: 100%;
    padding: 0.25em 0;
    border-bottom: 0.1em solid #ddd;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 1.1em;
    margin: 0.75em 0 0.5em;
    font-weight: bold;
    text-decoration: underline;
  }

  label {
    display: inline-block;
    margin-right: 0.1em;
  }

  .form-subhead {
    opacity: 0.7;
  }

  form {
    max-width: 55rem;

    fieldset {
      margin-bottom: 1em;
    }

    .radio {
      margin-left: 0.25em;

      input {
        margin-bottom: 0;
      }
    }

    input[type="text"] {
      max-width: 20rem;
    }
  }
}

.public.top-bar {
  padding-bottom: 0;
  padding-left: 1rem;

  .top-bar-title {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;

    img {
      width: 342px;
      height: 70px;
    }

    h1 {
      margin-top: -2px;
      margin-left: 2rem;
      margin-bottom: 2px;
      font-family: Palatino;
      font-size: 4rem;
    }
  }
}

#team-list {
  h3 {
    text-transform: capitalize;
  }

  table {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
  }

  thead, tbody, tr {
    display: contents;
  }

  tr {
    font-family: Georgia;
    font-size: 1.25em;
  }

  button {
    margin: -5px;
  }

  td {
    padding: 10px;
    margin-bottom: 5px;
  }

  tr:nth-child(even) > * {
    background: #f8f8f8;
  }

  .not-started {
    color: #aaa;
    font-style: italic;
  }

  .deleted {
    font-style: italic;
    text-decoration: line-through;
    filter: contrast(25%);
  }

  .status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#interview-table {
  .button {
    margin: 0;
  }

  ul {
    margin: 0;
  }
}
