#interview-feedback {
  max-width: 50rem;
  margin: 0 auto;

  .subhead {
    opacity: 0.7;
  }

  fieldset {
    margin-bottom: 1em;
  }

  .radio {
    margin-left: 0.25em;

    input {
      margin-bottom: 0;
    }
  }

  input[type="text"] {
    max-width: 20rem;
  }

  label {
    display: inline;
  }
}
