#student-feedback {
  select {
    width: 50%;
    margin: 1em auto 1.5em;
    display: block;
  }
}

.student-feedback--note {
  max-width: 45em;
  margin: 1em auto;
  clear: both;
}

.student-feedback--rank,
.student-feedback--rank-btns,
.student-feedback--company {
  display: inline-block;

  p {
    margin-bottom: 0;
  }
}

.student-feedback--rank {
  text-transform: capitalize;
  text-align: right;
  font-size: 2rem;
  width: 400px;
}

.student-feedback--company {
  min-width: 400px;

  background-color: #f0f0f0;

  border: 2px solid #e8e8e8;
  border-radius: 0.5rem;

  margin: 1rem;
  padding: 1.5rem;

  text-align: center;
  font-size: 1.2rem;

  &:hover {
    background-color: #e0e0e0;
    border-color: #d8d8d8;
  }
}

.student-feedback--rank-btns {
  text-align: center;
  font-size: 2rem;
}

.student-feedback--rank-btn-up,
.student-feedback--rank-btn-down {
  color: #1779ba;

  &:hover, &:focus {
    color: #14679e;
  }
}

.student-feedback--submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
